Repository nulltea/kicksware-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

dependencies.build:
  image:
    name: node:8-alpine
  stage: build
  tags:
  - k8s
  - web-app
  variables:
    NODE_ENV: production
  before_script:
  - apk add --update bash
  - apk add --update git
  script:
  - npm install
  - make styles
  cache:
    paths:
    - Web/node_modules
    - Web/wwwroot/styles/css

web-app.build:
  image: docker/compose:1.25.0
  services:
  - docker:18.09-dind
  stage: build
  tags:
  - k8s
  - web-app
  variables:
    DOCKER_HOST: tcp://localhost:2375
  before_script:
  - docker version
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_TOKEN $CI_REGISTRY
  script:
  - docker-compose build
  after_script:
  ...

web-app.test:
  stage: test
  tags:
  - k8s
  - web-app
  before_script:
  - printf "\e[32mTODO"
  script:
  - echo -e "\e[33mYou should implement test... \e[91mI am serisous, dude - \e[1mTESTS ARE IMPORTANT!"

web-app.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - web-app
  before_script:
  - kubectl create secret docker-registry registry-token -n webapp --docker-server=$CI_REGISTRY --docker-web-appname=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

feat (web) social links updated
  Web/Assets/styles/contact/contact.less
  Web/Views/Shared/_SocialPartial.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) social contact info mobile carousel responsive WIP
  Web/Assets/scripts/contact/contact.js
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) hpa enabled
  Web/Assets/plugins/owl.carousel/dist/assets/ajax-loader.gif
  Web/Assets/plugins/owl.carousel/dist/assets/owl.video.play.png
  Web/Assets/scripts/common/common.js
  Web/Web.csproj
  webapp-chart/templates/hpa.yaml
  webapp-chart/values.yaml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) hpa enabled
  Web/Assets/plugins/owl.carousel/dist/assets/ajax-loader.gif
  Web/Assets/plugins/owl.carousel/dist/assets/owl.video.play.png
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) hpa enabled and configured by avarage value
  Web/Controllers/HomeController.cs
  Web/Handlers/Menu/MenuBuilder.cs
  webapp-chart/values.yaml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) hpa utilization configured
  webapp-chart/templates/hpa.yaml
  webapp-chart/templates/ingress.yaml
  webapp-chart/values.yaml
Due: web-app.test, web-app.deploy.k8s

feat (web) hpa utilization configured
  webapp-chart/templates/hpa.yaml
  webapp-chart/values.yaml
Due: web-app.test, web-app.deploy.k8s

feat (web) health endpoint added
  .gitlab-ci.yml
  webapp-chart/templates/middleware.yaml
  webapp-chart/values.yaml
Due: web-app.test, web-app.deploy.k8s

git (web) health check updated in readme badge
  README.md
Due: none

feat (web) about page content WIP as a final prerration to publishment
  Web/Assets/styles/about/about.less
  Web/Views/About/About.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

Update Web/Views/About/About.cshtml
  Web/Views/About/About.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

Update README.md
  README.md
Due: none

git (readme) more section added
  README.md
Due: none

Fix image links
  README.md
Due: none

Add arm64 build options
  .gitignore
  Infrastructure/Infrastructure.csproj
  Makefile
  Web/package-lock.json
  docker/arm64.Dockerfile
  env/.env
  webapp-chart/templates/_helpers.tpl
  webapp-chart/templates/configmap.yaml
  webapp-chart/templates/deployment.yaml
  webapp-chart/values.yaml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

Deployment updates
  Makefile
  webapp-chart/templates/ingress.yaml
  webapp-chart/templates/pvc.yaml
  webapp-chart/values.yaml
Due: web-app.test, web-app.deploy.k8s

Path conditions:
  dependencies.build: (any of: Core/**/*, Infrastructure/**/*, Web/**/*) and (not (any of: *.md))
  web-app.build: (any of: Core/**/*, Infrastructure/**/*, Web/**/*) and (not (any of: *.md))
  web-app.test: not (any of: *.md)
  web-app.deploy.k8s: not (any of: *.md)
