Repository nulltea/kicksware-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

.gitlab-ci.yml:

include: /.gitlab/.gitlab-ci.compose.yml

image: dtzar/helm-kubectl:3.3.0

stages:
  - build
  - test
  - deploy
  - check

# build stage steps:

dependencies.build:
  image:
    name: node:8-alpine
  stage: build
  tags:
    - k8s
    - web-app
  variables:
    NODE_ENV: production
  only:
    changes:
      - Core/**/*
      - Infrastructure/**/*
      - Web/**/*
  except:
    changes:
      - "*.md"
  before_script:
    - apk add --update bash
    - apk add --update git
  script:
    - npm install
    - make styles
  cache:
    paths:
      - Web/node_modules
      - Web/wwwroot/styles/css

web-app.build:
  image: docker/compose:1.25.0
  services: [docker:18.09-dind]
  stage: build
  tags:
    - k8s
    - web-app
  variables:
    DOCKER_HOST: tcp://localhost:2375
  only:
    changes:
      - Core/**/*
      - Infrastructure/**/*
      - Web/**/*
  except:
    changes:
      - "*.md"
  before_script:
    - docker version
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_TOKEN $CI_REGISTRY
  script:
    - docker-compose build
  after_script:
    - docker-compose push
  cache:
    paths:
      - Web/node_modules
      - Web/wwwroot/styles/css
  allow_failure: true

# test stage steps:

web-app.test:
  stage: test
  tags:
    - k8s
    - web-app
  except:
    changes:
      - "*.md"
  before_script:
    - printf "\e[32mTODO"
  script:
    - echo -e "\e[33mYou should implement test... \e[91mI am serisous, dude - \e[1mTESTS ARE IMPORTANT!"

# deploy stage steps:

web-app.deploy.k8s:
  stage: deploy
  tags:
    - k8s
    - web-app
  only:
    kubernetes: active
  except:
    changes:
      - "*.md"
  before_script:
    - kubectl create secret docker-registry registry-token -n webapp
      --docker-server=$CI_REGISTRY --docker-web-appname=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
    - kubectl create secret generic google-oauth -n webapp
      --from-literal=AUTH_GOOGLE_ID=$AUTH_GOOGLE_ID --from-literal=AUTH_GOOGLE_SECRET=$AUTH_GOOGLE_SECRET --dry-run -o yaml | kubectl apply -f -
    - kubectl create secret generic facebook-oauth -n webapp
      --from-literal=AUTH_FACEBOOK_ID=$AUTH_FACEBOOK_ID --from-literal=AUTH_FACEBOOK_SECRET=$AUTH_FACEBOOK_SECRET --dry-run -o yaml | kubectl apply -f -
    - apk add gettext && envsubst < env/.env > .env && kubectl create configmap web-app.env -n webapp
      --from-file=.env --dry-run -o yaml | kubectl apply -f -
  script:
    - helm upgrade --install -n webapp web-app webapp-chart

# check stage steps:

web-app.check.k8s:
  image: curlimages/curl
  stage: check
  tags:
    - k8s
    - web-app
  before_script:
    - echo Waiting half a minute for app to properly start or fail... && sleep 30s
  script:
    - curl "http://$WEBAPP_ENDPOINT_URL/health/live" -f -o /dev/null || exit 1 | echo -e "\e[91mWeb app dead! Triggering check job failure"
    - echo -e "\e[36mWeb app live. Checking service readiness:\n"
    - curl "http://$WEBAPP_ENDPOINT_URL/health/ready" -f -o /dev/null || exit 1 | echo -e "\e[91mWeb app not ready! Triggering check job failure"
    - echo -e "\e[36mWeb app ready. Check job succeeded!"
  retry: 2

feat (webapp) k8s porduction deployment CI pipeline added
  .gitlab-ci.yml
  Web/wwwroot/scripts/contact/contact.js
  docker-compose.yml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) k8s porduction deployment CI pipeline added
  .gitlab/.gitlab-ci.compose.yml
  Web/wwwroot/scripts/layout/header.js
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) k8s porduction deployment CI pipeline added
  .gitlab-ci.yml
  Web/wwwroot/scripts/layout/header.js
  Web/wwwroot/scripts/layout/menu.js
  Web/wwwroot/scripts/layout/search.js
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) k8s porduction deployment CI pipeline added
  .gitlab-ci.yml
  Makefile
  Web/wwwroot/scripts/profile/profile.js
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) reslove stage added to k8s porduction deployment CI pipeline
  .gitlab-ci.yml
  Web/wwwroot/scripts/sell/payment.js
  Web/wwwroot/scripts/shop/productItem.js
  Web/wwwroot/scripts/shop/products.js
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) reslove stage added to k8s porduction deployment CI pipeline
  .gitlab-ci.yml
  Makefile
  Web/wwwroot/scripts/shop/products.js
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) reslove pipeline stage make rule edited
  .gitlab-ci.yml
  .gitlab/.gitlab-ci.compose.yml
  Makefile
  Web/wwwroot/styles/less/common/common.less
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) reslove pipeline stage make rule edited
  .gitlab-ci.yml
  Web/package.json
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (webapp) reslove pipeline stage make rule edited
  Makefile
  Web/wwwroot/styles/less/user/modal.less
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (Web) node modules sected minified plugin files included in project
  Web/Views/Shared/_Layout.cshtml
  Web/Web.csproj
  webapp-chart/templates/pvc.yaml
  webapp-chart/values.yaml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (Web) node modules sected minified plugin files included in project
  Web/Web.csproj
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (Web) feat (Web) node modules sected minified plugin files included in project
  Web/Web.csproj
  webapp-chart/values.yaml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (Web) enviroment vars configmap creation WIP
  .gitlab-ci.yml
  Web/Views/Home/Index.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (Web) mount storage directory as static webfiles
  .gitlab-ci.yml
  Web/Startup.cs
  webapp-chart/values.yaml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (Web) mount storage directory as static webfiles
  Web/Startup.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (Web) home page feed content delivery WIP
  Web/Config/AppConfig.cs
  Web/Container/Factory/MenuFactory.cs
  Web/Controllers/HomeController.cs
  Web/Data/Catalog/Catalog.cs
  Web/Data/Content/MenuShopContent.json
  Web/Models/HomePageInfoViewModel.cs
  Web/Startup.cs
  Web/Web.csproj
  Web/appsettings.Development.json
  Web/appsettings.json
  Web/wwwroot/images/home_nike_ispa_720.jpeg
  Web/wwwroot/images/home_nike_ispa_envelope.jpeg
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (app) add deployement unique annotation to helm chart for mandatory updates
  .gitlab-ci.yml
  docker-compose.yml
  env/.env
  webapp-chart/templates/deployment.yaml
Due: web-app.test, web-app.deploy.k8s

feat (Web) storage source mount path changed
  Web/Startup.cs
  Web/appsettings.json
  webapp-chart/values.yaml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

fix (web) jquery plugin usage
  Web/Data/Catalog/Catalog.cs
  Web/Views/Home/Index.cshtml
  Web/Views/Sell/New/Preview.cshtml
  Web/Views/Shared/_Layout.cshtml
  Web/Views/Shop/ProductItem.cshtml
  Web/Views/Shop/ReferenceItem.cshtml
  Web/Web.csproj
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) home carousel WIP
  Web/Controllers/HomeController.cs
  Web/Models/HomePageInfoViewModel.cs
  Web/Views/Home/Index.cshtml
  Web/wwwroot/styles/less/home/home.less
  env/.env
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) contact page WIP
  Web/wwwroot/scripts/contact/contact.js
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) home page mobile responsivness WIP
  Web/wwwroot/styles/less/responsive/home.responsive.less
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web)home page WIP
  Web/Models/HomePageInfoViewModel.cs
  Web/Views/Home/Index.cshtml
  Web/wwwroot/scripts/home/home.js
  Web/wwwroot/styles/less/home/home.less
  Web/wwwroot/styles/less/responsive/home.responsive.less
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) mobile nav menu WIP: add sub menus
  Web/Container/Factory/MenuFactory.cs
  Web/Handlers/Menu/Shop/MobileShopMenuContent.cs
  Web/Handlers/Menu/Shop/ShopMenuContent.cs
  Web/Startup.cs
  Web/Views/Shared/Header/_MobileMenuPartial.cshtml
  Web/wwwroot/images/back.svg
  Web/wwwroot/scripts/layout/menu.js
  Web/wwwroot/styles/less/layout/menu.less
  web-app.sln.DotSettings
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) added policy pages: privacy, terms and cookie
  Web/Controllers/HomeController.cs
  Web/Controllers/PolicyController.cs
  Web/Views/Auth/_AuthDialogPartial.cshtml
  Web/Views/Home/Privacy.cshtml
  Web/Views/Policy/Cookie.cshtml
  Web/Views/Policy/Privacy.cshtml
  Web/Views/Policy/Terms.cshtml
  Web/Views/Shared/_Layout.cshtml
  Web/Views/Shop/ReferenceItem.cshtml
  Web/Web.csproj
  Web/wwwroot/styles/less/policy/policy.less
  Web/wwwroot/styles/less/shop/filter.less
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) header forwarding middleware added
  Web/Startup.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) header forwarding middleware removed
  Web/Startup.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) input style for mobile WIP
  Web/wwwroot/styles/less/common/common.less
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) final tweaks, fixes & refactoring
  Core/Entities/References/Concrete/SneakerReference.cs
  Web/Controllers/ContactController.cs
  Web/Views/Shared/Header/_SearchResultsPartial.cshtml
  Web/Views/Shared/_ValidationScriptsPartial.cshtml
  Web/wwwroot/scripts/layout/search.js
  Web/wwwroot/scripts/profile/profile.js
  Web/wwwroot/scripts/shop/productItem.js
  Web/wwwroot/scripts/shop/products.js
  Web/wwwroot/styles/less/about/about.less
  Web/wwwroot/styles/less/common/common.less
  Web/wwwroot/styles/less/layout/search.less
  Web/wwwroot/styles/less/shop/filter.less
  Web/wwwroot/styles/less/shop/results.less
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

git (readme) repo logo with base markdown added
  .gitignore
  README.md
  assets/kicksware-webapp-logo.png
Due: none

git (readme) repo badges WIP
  README.md
Due: none

git (readme) overview section added
  README.md
Due: none

git (readme) back-end and front-end design sections added + kicksware browser mockup image added
  README.md
  assets/kicksware-browser.png
Due: none

git (readme) kicksware browser mockup image WIP
  assets/kicksware-browser.png
Due: web-app.test, web-app.deploy.k8s

git (readme) requirements, deployment and wrap up sections added. Reame finished
  README.md
Due: none
