Repository nulltea/kicksware-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

dependencies.build:
  image:
    name: node:8-alpine
  stage: build
  tags:
  - k8s
  - web-app
  variables:
    NODE_ENV: production
  before_script:
  - apk add --update bash
  - apk add --update git
  script:
  - npm install
  - make styles
  cache:
    paths:
    - Web/node_modules
    - Web/wwwroot/styles/css

web-app.build:
  image: docker/compose:1.25.0
  services:
  - docker:18.09-dind
  stage: build
  tags:
  - k8s
  - web-app
  variables:
    DOCKER_HOST: tcp://localhost:2375
  before_script:
  - docker version
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_TOKEN $CI_REGISTRY
  script:
  - docker-compose build
  after_script:
  ...

web-app.test:
  stage: test
  tags:
  - k8s
  - web-app
  before_script:
  - printf "\e[32mTODO"
  script:
  - echo -e "\e[33mYou should implement test... \e[91mI am serisous, dude - \e[1mTESTS ARE IMPORTANT!"

web-app.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - web-app
  before_script:
  - kubectl create secret docker-registry registry-token -n webapp --docker-server=$CI_REGISTRY --docker-web-appname=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

git (readme) requirements section WIP
  README.md
Due: none

git (readme) repo logo renamed
  README.md
  assets/repo-logo.png
Due: none

git (readme) markdown WIP
  README.md
Due: none

git (readme) license section WIP
  README.md
Due: none

git (readme) browser mock up gif used
  README.md
Due: none

git (readme) asset usage changed
  README.md
Due: none

git (readme) TOC added
  README.md
Due: none

ci (toolstack) kicksware website browser mock up WIP
  assets/kicksware-browser.png
Due: web-app.test, web-app.deploy.k8s

ci (readme) content refactored
  README.md
Due: none

ci (toolstack) text refactored
  README.md
Due: none

feat (web) grpc auth metadata handling fixed + user settings WIP
  Core/Entities/Users/User.cs
  Core/Entities/Users/UserSettings.cs
  Infrastructure/Gateway/gRPC/Cast/UserCast.cs
  Infrastructure/Gateway/gRPC/Protos/user.proto
  Infrastructure/Infrastructure.csproj
  Web/Assets/bundles/layout.js
  Web/Assets/scripts/common/common.js
  Web/Assets/scripts/layout/header.js
  Web/Assets/scripts/profile/profile.js
  Web/Assets/scripts/shop/products.js
  Web/Assets/styles/profile/profile.less
  Web/Assets/styles/shop/filter.less
  Web/Container/Factory/ClientFactory.cs
  Web/Controllers/User/ProfileController.cs
  Web/Startup.cs
  Web/Views/Profile/Partial/Buying.cshtml
  Web/Views/Profile/Partial/Favorite.cshtml
  Web/Views/Profile/Partial/Selling.cshtml
  Web/Views/Profile/Partial/Settings.cshtml
  Web/Views/Shared/_Layout.cshtml
  Web/Views/Shared/_SocialPartial.cshtml
  Web/Views/Shop/Partial/BrandPartial.cshtml
  Web/Views/Shop/Partial/ProductsPartial.cshtml
  Web/Views/Shop/Partial/ReferencesPartial.cshtml
  Web/Views/Shop/References.cshtml
  Web/Web.csproj
  Web/appsettings.json
  Web/package-lock.json
  Web/package.json
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

ci (app) deployment pipeline configured for bundler
  .gitlab-ci.yml
  Web/Startup.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

ci (app) deployment pipeline configured for bundler
  .gitlab-ci.yml
  Web/Controllers/User/ProfileController.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

ci (app) deployment pipeline configured for bundler
  .gitlab-ci.yml
  Web/Program.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

ci (app) deployment pipeline configured for bundler
  .gitlab-ci.yml
  Web/Controllers/HomeController.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

ci (app) deployment pipeline configured for bundler
  .gitlab-ci.yml
  Web/Controllers/ContactController.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

ci (app) deployment pipeline configured for bundler
  .gitlab-ci.yml
  Web/Controllers/SearchController.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

ci (app) deployment pipeline configured for bundler
  Web/Controllers/Shop/ShopBrandController.cs
  Web/package.json
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) website frontend polishing
  Web/Assets/bundles/home.js
  Web/Assets/bundles/shop-item.js
  Web/Views/Shop/ReferenceItem.cshtml
  Web/Web.csproj
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) sunny theme easter egg added
  Web/Assets/bundles/home.js
  Web/Assets/bundles/shop.js
  Web/Views/Home/Index.cshtml
  Web/Views/Shared/Header/_IconNavPartial.cshtml
  Web/Views/Shared/Header/_MobileMenuPartial.cshtml
  Web/Views/Shared/Header/_ThemePartial.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) mobile fonts fixed
  Web/Assets/bundles/home.js
  Web/Assets/bundles/shop-item.js
  Web/Views/Shop/ReferenceItem.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) source store redurect on buy with popup dialog rendering
  Core/Entities/Orders/Order.cs
  Core/Entities/Orders/OrderStatus.cs
  Core/Entities/References/Concrete/SneakerBrand.cs
  Core/Entities/References/Concrete/SneakerModel.cs
  Core/Entities/References/Concrete/SneakerReference.cs
  Core/Repositories/IOrderRepository.cs
  Core/Services/IOrderService.cs
  Core/Services/ISneakerReferenceService.cs
  Infrastructure/Data/REST/OrderRestRepository.cs
  Infrastructure/Data/gRPC/OrderGrpcRepository.cs
  Infrastructure/Data/gRPC/SneakerProductsGrpcRepository.cs
  Infrastructure/Data/gRPC/SneakerReferencesGrpcRepository.cs
  Infrastructure/Data/gRPC/UserGrpcRepository.cs
  Infrastructure/Gateway/gRPC/Cast/OrderCast.cs
  Infrastructure/Gateway/gRPC/Cast/ReferenceCast.cs
  Infrastructure/Gateway/gRPC/Protos/orders.proto
  Infrastructure/Gateway/gRPC/Protos/reference.proto
  Infrastructure/Usecase/Services/OrderService.cs
  Infrastructure/Usecase/Services/SneakerReferenceService.cs
  Web/Assets/bundles/layout.js
  Web/Assets/images/redirect.svg
  Web/Assets/scripts/layout/popup.js
  Web/Assets/scripts/profile/profile.js
  Web/Assets/scripts/shop/productItem.js
  Web/Assets/styles/profile/profile.less
  Web/Assets/styles/responsive/shop-item.responsive.less
  Web/Assets/styles/shop/product-item.less
  Web/Assets/styles/user/modal.less
  Web/Controllers/HomeController.cs
  Web/Controllers/OrderController.cs
  Web/Startup.cs
  Web/Utils/Extensions/ControllerExtensions.cs
  Web/Utils/HtmlHelpers/VectorIconHelper.cs
  Web/Views/Home/Index.cshtml
  Web/Views/Shared/_Layout.cshtml
  Web/Views/Shared/_WhyRedirectPartial.cshtml
  Web/Views/Shop/ProductItem.cshtml
  Web/Views/Shop/ReferenceItem.cshtml
  web-app.sln.DotSettings
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) currency formating WIP
  Web/Utils/Extensions/DecimalExtensions.cs
  Web/Views/Shop/ProductItem.cshtml
  Web/Views/Shop/ReferenceItem.cshtml
  Web/Web.csproj
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) exception views and handlers added + under development view added to sell page photo tab
  Web/Assets/bundles/exception.js
  Web/Assets/bundles/sell.js
  Web/Assets/images/under-development.svg
  Web/Assets/scripts/exception/exception.js
  Web/Assets/styles/common/common.less
  Web/Assets/styles/exception/exception.less
  Web/Assets/styles/responsive/exception.responsive.less
  Web/Assets/styles/sell/search.less
  Web/Controllers/ExceptionController.cs
  Web/Controllers/HomeController.cs
  Web/Startup.cs
  Web/Views/Exception/InternalError.cshtml
  Web/Views/Exception/NotFound.cshtml
  Web/Views/Exception/Timeout.cshtml
  Web/Views/Sell/New/Search.cshtml
  Web/Views/Shared/Error.cshtml
  Web/Views/Shared/_BuildingPartial.cshtml
  Web/Views/Shared/_EmptyLayout.cshtml
  Web/Views/Shared/_UnderDevelopmentPartial.cshtml
  Web/Views/Shared/_WhyRedirectPartial.cshtml
  Web/Web.csproj
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) foreign orders query used in buying view of profile page
  Infrastructure/Gateway/gRPC/Protos/auth.proto
  Infrastructure/Gateway/gRPC/Protos/beta.proto
  Infrastructure/Gateway/gRPC/Protos/common.proto
  Infrastructure/Gateway/gRPC/Protos/interact.proto
  Infrastructure/Gateway/gRPC/Protos/mail.proto
  Infrastructure/Gateway/gRPC/Protos/orders.proto
  Infrastructure/Gateway/gRPC/Protos/product.proto
  Infrastructure/Gateway/gRPC/Protos/reference.proto
  Infrastructure/Gateway/gRPC/Protos/search.proto
  Infrastructure/Gateway/gRPC/Protos/user.proto
  Web/Container/Factory/ClientFactory.cs
  Web/Views/Home/Index.cshtml
  Web/Views/Profile/Partial/Buying.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) newsletter subscription handle implemented with new notification control
  Core/Model/Responses/CommonResponse.cs
  Core/Services/IMailService.cs
  Infrastructure/Gateway/gRPC/Cast/CommonCast.cs
  Infrastructure/Gateway/gRPC/Protos/common.proto
  Infrastructure/Gateway/gRPC/Protos/mail.proto
  Infrastructure/Usecase/Services/REST/MailServiceREST.cs
  Infrastructure/Usecase/Services/UserService.cs
  Infrastructure/Usecase/Services/gRPC/MailServiceGRPC.cs
  Web/Assets/scripts/common/common.js
  Web/Assets/scripts/home/home.js
  Web/Assets/styles/common/common.less
  Web/Assets/styles/shop/product-item.less
  Web/Controllers/User/ProfileController.cs
  Web/Views/Home/Index.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

ref (web) subscription logic moved to SubscriptionController
  Web/Controllers/SubscriptionController.cs
  Web/Controllers/User/ProfileController.cs
  Web/Utils/Controllers/ControllersCommon.cs
  Web/Views/Home/Index.cshtml
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) loading overlay timeout implemented
  Web/Assets/scripts/common/common.js
  Web/Assets/scripts/shop/products.js
  Web/Controllers/SubscriptionController.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) facebook oauth WIP
  Web/Startup.cs
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

feat (web) GitHub OAuth provider added
  Core/Entities/Users/UserProvider.cs
  Infrastructure/Gateway/gRPC/Cast/UserCast.cs
  Web/Assets/scripts/user/auth.js
  Web/Assets/styles/common/common.less
  Web/Assets/styles/layout/header.less
  Web/Assets/styles/mixins/mixins.less
  Web/Assets/styles/properties/colors.less
  Web/Assets/styles/shop/product-item.less
  Web/Assets/styles/user/modal.less
  Web/Controllers/User/AuthController.cs
  Web/Startup.cs
  Web/Views/Auth/_AuthDialogPartial.cshtml
  Web/Web.csproj
  env/.env
Due: dependencies.build, web-app.build, web-app.test, web-app.deploy.k8s

Path conditions:
  dependencies.build: (any of: Core/**/*, Infrastructure/**/*, Web/**/*) and (not (any of: *.md))
  web-app.build: (any of: Core/**/*, Infrastructure/**/*, Web/**/*) and (not (any of: *.md))
  web-app.test: not (any of: *.md)
  web-app.deploy.k8s: not (any of: *.md)
